:root {
  --size: 250px;
  --border: 3px;
  --gap: 30px;
}
* {
  box-sizing: border-box;
}

.body {
  height: 100vh;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  color: rgb(93, 90, 24);
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.page-2 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(129, 38, 67);
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.bg-img {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;

  background-color: white;
  background-image: url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: calc(var(--size) + var(--border) * 2);
  margin: 10px;
  background-color: cadetblue;
  border: var(--border) solid black;
  float: left;
  position: relative;
  box-sizing: content-box;
}

.wrapper--sm {
  width: calc(var(--size) + var(--border) * 2);
}

.wrapper--lg {
  width: calc(var(--size) * 2 + var(--border) * 2);
}

.block {
  width: 50%;
  height: 50%;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.block--1 {
  background-color: green;
  left: 0;
  top: 0;
}

.block--2 {
  background-color: white;
  top: 0;
  left: 50%;
}

.block--3 {
  background-color: black;
  top: 50%;
  left: 0;
}

.block--4 {
  background-color: brown;
  top: 50%;
  left: 50%;
}

.block--5 {
  background-color: blue;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: -1;
}

.block--6 {
  background-color: blue;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.block--7 {
  background-color: blue;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: -1;
}

.block--in-lg {
  width: 25%;
}

.block-lg {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  bottom: var(--gap);
  left: var(--gap);
  background-color: red;
  z-index: 1;
}

/* Spaceships */

.bg-img2 {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;

  background-color: white;
  background-image: url(../images/fon2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 15px 30px 15px 30px;
}

.navbar-title {
  text-align: center;
  font-size: 55px;
  font-family: sans-serif;
  color: rgba(49, 225, 128, 0.865);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.pictures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.item1-title,
.item2-title,
.item3-title {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  padding-top: 15px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
}

.item1,
.item2,
.item3 {
  background-color: transparent;
}

.item1:hover,
.item2:hover,
.item3:hover {
  text-transform: uppercase;
  background-color: rgba(38, 225, 225, 0.629);
  box-shadow: 0 5px 25px rgb(220, 220, 184);
}

.footer {
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: sans-serif;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.page-1 {
  color: rgb(124, 226, 22);
}
